 

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
/* .text-center{
    text-align: center;
} */
 main section{
    margin-top: 130px;
    margin-bottom: 130px;
 }
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding: 18px 35px;
    color: white;
    border-radius: 5px;
}
.section-title{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #181818;

}
/* header styles */
.header{
background-image: url(/images/developer.png),url(/images/header_bg.png);
background-repeat: no-repeat;
background-position: top left,bottom right;
}


/* nav bar style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center

}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;

  }
  /* main styling */
  main{
    max-width: 1140max;
    margin: 0px 250px;
  }
  /* banner styles */
  .banner-content{
    max-width: 580px;
  }
  .banner{
   display: flex;
   justify-content: space-between;
   margin: 0 35px 0 200px;
  }
  .banner-greetings{
    font-size: 45px;
    font-weight: 600;
    }
    .banner-title{
        font-size: 65px;
        font-weight: bold;
    }
    .banner-pro-pic{
        width: 500px;
    }
    /* about styling */
    .about{
        border-radius: 10px;
        text-align: center;
        padding: 20px 150px;
        
    }
    .about-items{
     display: flex;
     justify-content: space-around;
    }
         
    .item-description{
        font-weight: 600;
    }
    /* SKILLS SEC STYLES */
    .section-description{
        text-align: center;
    }
    .skill-container{
        display: flex;
        gap: 24px;
    }
    .skill{
        padding: 30px;
        border-radius: 5px;
        box-shadow: 0px 6px 5px 0px #000000;
    }